h2{
    height: 40px;
    border: 2px solid black;
    text-align: center;
    background-image: linear-gradient(to right,red, yellow,red);
}

.list{
    height: 90px;
    width: 900px;
    border: 2px solid red;
    background-color: rgb(219, 232, 247);
    border-radius: 20px;  
    margin-left: 300px;
}
ul{
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}
.f_container{
    width: 1520px;
    height: 149px;
    border: 2px solid rgb(100, 100, 100);
    background-color:rgb(81, 236, 236); 
    border-radius: 25px;
}
.box{
    display: inline-block;
    border: 2px solid black;
    height: 70px;
    width: 400px;
    margin-left: 75px;
    border-radius: 10px;
}
 .box5{
    margin-left:560px;
} 
.s_container{
    height: 250px;
    width: 1520px;
    color: ;
    border: 2px solid rgb(13, 75, 13);
    background-image:  radial-gradient(ellipse, blue 20%,cyan 90%,rgb(80, 233, 80) 20%);

}
.s_box{
    display: inline-block;
    height: 140px;
    margin: 45px;
    width: 280px;
    text-align: center;
    color: brown;
    border: 2px solid brown;
    border-radius: 15px;
    background-color: rgb(245, 187, 41)
}
.head{
  
    height: 50px;
    border: 2px solid black;
    text-align: center;
    background-image: linear-gradient(to right,rgb(78, 78, 226), rgb(77, 248, 77), rgb(252, 252, 10));

}
.head2{
    height: 40px;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(241, 64, 79);
}
.box9{
    border: 2px solid black;
    margin: 20px;
    font-size: 20px;
    color: white;
    padding: 10px;
}
.parent-container{
    display: grid;
    grid-template-columns: repeat(4,1fr)  
}
.box8{
    text-align: center;
    background-color: rgb(84, 247, 84);
    grid-column:1/2 ;
    grid-row:1/2 ;
    /* height: 60px; */
}
.box10{
    background-color: rgb(14, 158, 241);
    /* height: 60px; */
}
.box11{
    background-color: rgb(113, 73, 221);
    /* grid-row:1/2 ;
    grid-column: 4/5; */
}
.box12{
    background-color: rgb(65, 63, 63);
    grid-row:1/4 ;
    grid-column: 4/4;
    height: 200px;
}
.box13{
    background-color: rgb(241, 168, 32);
    grid-column: 1/4;
    grid-row: 2/4;
}
.box14{
    background-color: rgb(50, 190, 245);
    text-align: center;
    height: 35px;
    font-size: 25px;
}